body {
    font-family: sans-serif;
}

.jumbotron {
    text-align: center;
}

.w3-card-4 {
    width: 50%;
}

.w3-center {
    margin: 5px;
}

.button {
    margin: 50px;
    width: 100%;
    padding-left: 50px;
}

.img {
    height: 200px;
    width: 200px;
}
