@font-face {
    font-family: 'Cabin';
    src: url('vendor/Fonts/Cabin/Cabin-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AmaticSC';
    src: url('vendor/Fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
}

body {
    font-family: 'Cabin', sans-serif;
}
h2 {
    font-family: 'AmaticSC', sans-serif;
    font-size: 3.5em;
}

h1 {
    font-family: 'AmaticSC', sans-serif;
    font-size: 5em;
}

.tron-text,
.tab-font {
    color: white;
}
.jumbotron {
    text-align: center;
    background-color: black;
}

.w3-card-4 {
    width: 50%;
}

.w3-center {
    margin: 5px;
}

/* .button {
    margin: 50px;
    width: 100%;
    padding-left: 50px;
} */

.img {
    height: 200px;
    width: 200px;
}

.panel {
    background-color: black;
    text-align: center;
}

.nav-item {
    width: 50%;
}
